<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>emotional-index-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C86D1D2E1E29D49000FE3D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86D1D421E29D49200FE3D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C86D1D4D1E29D49300FE3D83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
